body {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    display: block;
    background-color: bisque;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#reset-button {
    margin: 10px auto 0;
    width: 100px;
    background: white 2px;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
  }

.playArea {
    height: 500px;
    width: 800px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
  

   
}

.grid-items{
    border: solid black 1px;


    /* display: none; */

}

#squeekey {
    width: 100%;
    height: 100%;
    background-image: url("./squeekey.png");
    background-size: 100%;
    background-repeat: no-repeat;
    /* display: none; */
}

.hide {
    display: none;
  }
